body {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(177, 127, 137);

}

nav {
    border: 2px solid purple;
    background: rgb(231, 231, 139);
    box-shadow: 0px 5px 10px 0px rgba(5, 111, 255, 0.8);
    background-image: url('../images/dragon.png');
    background-size: 150px 100px;
    background-repeat: no-repeat;
    background-position: left;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header ol {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style: none;
    padding: 5px;
    border: 1px dotted gray; 
}

div {
    color: darkolivegreen;
}

.container {
    background-image: radial-gradient(lightblue, lightyellow);
}

.footer {
    background: blueviolet;
}

.footer div {
    color: white;
    padding: 1em;
}